body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTcNkw9WSC4niEe3_0rNlEzGewKOs8JDO51KNng5QuRTQ&s');
    background-repeat: no-repeat;
    background-size: cover
}

form {
    max-width: 500px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #502020;
}

h1 {
    color: #ff0000;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"], input[type="date"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="radio"] {
    margin: 0 10px 0 0;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}
